#dashboard-container {
  background-color: var(--main-background);
  height: 100vh;
  color: whitesmoke;
}

.dashboard-section {
  border: 2px solid;
  height: 100vh;
}

#sidebar {
  border-color: maroon;
}

#content {
  border-color: orange;
}
